

/* ....................Subscribe Section styel End here...................... */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{margin: 0; padding: 0; box-sizing: border-box;}

img{max-width: 100%;}

body, p{
    font-family: 'Work Sans', sans-serif;
};

h1, h2, h3, h4, h5, h6, .main-menu, li > a, button{
    font-family: 'Oswald', sans-serif !important;
}

html{
    scroll-behavior: smooth;
}
/* ....................Top header section styel Start here...................... */

.top-header-wraper {
    overflow: hidden;
    background: #f5f5f5;
}

.container {
    margin: 0 auto;
    width: 92%;
}

.phone {
    width: 24%;
    float: left;
    font-size: 15px;
    font-weight: 400;
    color: #000;
    border-left: 1px solid #e4e4e4;
    padding: 15px;
}

.phone i {
    color: #ff5200;
    margin-right: 8px;
}

.email {
    width: 60%;
    float: left;
    font-size: 15px;
    font-weight: 400;
    color: #000;
    border-left: 1px solid #e4e4e4;
    padding: 15px;
}

.email i {
    color: #ff5200;
    margin-right: 8px;
}

.social-icons{
    width: 16%;
    float: left;
    font-size: 15px;
    border-left: 1px solid #e4e4e4;
}

.social-icons i {
    padding: 15px;
    border-right: 1px solid #e4e4e4;
    color: #222;
    transition: all 300ms ease;
}

.social-icons i:hover {
    color: #ff5200;
}
/* ....................Top header section styel End here...................... */
/* ....................Header section styel start here...................... */

.header-wraper {
    overflow: hidden;
}

.logo {
    float: left;
    padding: 22px 0px;
    width: 42%;
}

.main-menu {
    width: 52%;
    float: left;
    padding: 11px 0px;
}

.main-menu ul li {
    list-style-type: none;
}


.main-menu ul li a {
    float: left;
    padding: 22px 0px;
    padding-right: 13px;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.08em;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    transition: all 300ms ease;
    text-decoration: none;
    color: #000;
}

.main-menu ul li:last-child {
    padding-right: 0;
}

.main-menu ul li a:hover {
    color: #ff5200;
    cursor: pointer;
}

.active{
    color: #ff5200;
}

.search {
    width: 6%;
    float: right;
    padding: 37px 0px;
    text-align: end;
}

button.search-btn {
    font-size: 18px;
    border: none;
    background: transparent;
}

button.search-btn:hover {
    color: #ff5200;
    cursor: pointer;
}

/* ....................Header section styel End here...................... */
/* ....................Baner section styel Start here...................... */

.banar-img{
    background: url(image/slide-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 600px;
}

.baner-text {
    width: 49%;
    color: #fff;
    padding: 94px 0px;
}

.baner-text h1 {
    text-transform: uppercase;
    font-size: 50px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
}

.baner-text p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    margin: 30px 0px;
}

button.common-btn {
    font-size: 16px;
    font-weight: 500;
    border-radius: 3px;
    border: 2px solid #ff5200;
    background: #ff5200;
    padding: 13px 34px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    transition: all ease .238s;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

button.common-btn:hover {
    border: 2px solid #252525;
    background: #252525;
    color: #fff;
    cursor: pointer;
}

.slider-btns {
    text-align: center;
}

button.slider-btn {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 3px solid #cbcbcb;
    background: transparent;
    margin-right: 5px;
}

button.slider-btn.active-btn {
    background: #ff5200;
    border: 3px solid #ff5200;
}
button.slider-btn:hover {
    cursor: pointer;
}

button.slider-btn.active-btn {
    cursor: pointer;
}

/* ....................Baner section styel End here...................... */
/* ....................Services section styel Start here...................... */

.services-wraper {
    background: #f5f6f6;
    padding: 80px 0px;
}

.services {
    overflow: hidden;
}

.service {
    border: 1px solid #e9e9e9;
    padding: 40px 20px;
    background: #ffffff;
    text-align: center;
    width: 23%;
    float: left;
    margin-right: 24px;
    transition: all 300ms ease;
    border-radius: 3px;
    overflow: hidden;
}


.service:hover {
    cursor: pointer;
    background-color: #ff5200;
    color: white;
}

.service:hover .service-text h3{
    color: white;
}

.service:hover .service-text p{
    color: white;
}

.service:hover .service-text a{
    color: white;

}
.service:hover .service-img i{
    color: white;

}

.active-secvice{
    background-color: #ff5200;
}

.active-secvice .service-img i{
    color: white;
}
.active-secvice .service-text a{
    color: white;
}
.active-secvice .service-text p{
    color: white;
}
.active-secvice .service-text h3{
    color: white;
}


.service:last-child {
    margin-right: 0;
}

.service-img i{
    color: #ff5200;
    font-size: 45px;
}

.service-text h3 {
    font-size: 18px;
    color: #333333;
    margin: 20px;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.02em;
    font-family: 'Oswald', sans-serif;
}

.service-text p {
    font-size: 16px;
    color: #656565;
    line-height: 1.5;
    margin-bottom: 20px;
}

.l-more{
    text-decoration: none;
    color: #ff5200;
    font-weight: 500;
}

.service-text a h3 {
    text-decoration: none;
    color: #333333;
}

.service-text a {
    text-decoration: none;
}

/* ....................Services section styel End here...................... */
/* ....................Team section styel Start here...................... */

section#work-with-us {
    padding: 85px 0px;
}

.wraper {
    overflow: hidden;
}

.work-us-img {
    width: 48%;
    float: left;
    margin-right: 47px;
}

.work-us-text h2 {
    font-size: 36px;
    line-height: 1.2em;
    margin-bottom: 15px;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.work-us-text p {
    margin-bottom: 30px;
    font-size: 16px;
    text-align: left;
    line-height: 1.5;
    color: #656565;
}

.quality ul li {
    list-style-type: none;
    font-size: 16px;
    line-height: 22px;
    width: 50%;
    float: left;
    color: #222222;
    font-weight: 500;
    margin-bottom: 20px;
}

.quality ul li a {
    transition: all 300ms ease;
    text-decoration: none;
    color: inherit;
}

.quality ul li i {
    margin-right: 10px;
}

.quality {
    overflow: hidden;
}

.work-us-text {
    float: left;
    width: 46%;
}

.work-us-text button {
    margin-top: 15px;
}

.quality ul li a:hover {
    color: #ff5200;
}

/* ....................Team section styel End here...................... */
/* ....................Number section styel Star here...................... */

#number{
    background: linear-gradient(#00000073, #00000073), url(image/why-choose-us1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.num-items {
    overflow: hidden;
}

.num-item {
    float: left;
    padding: 90px 18px;
    width: 25%;
}

.num-item-icon {
    font-size: 50px;
    color: #fff;
    text-align: center;
}

.num-item-text h4 {
    font-size: 50px;
    color: #fff;
    text-align: center;
}

.num-item-text h6 {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 1.25rem;
    text-align: center;
}

.num-item-text {
    margin-top: 20px;
}

/* ....................Number section styel End here...................... */
/* ....................More From Us Section styel Start here...................... */

section#more {
    background: #f6f5f5;
    padding: 80px 0px;
}

.section-heading h2 {
    font-size: 40px;
    padding-bottom: 15px;
    text-align: center;
    line-height: 1.5;
    left: 0.02em;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    position: relative;
}

.section-heading h2::before {
    position: absolute;
    content: '';
    left: 50%;
    bottom: 0px;
    width: 60px;
    height: 3px;
    margin-left: -30px;
    background-color: #ff5200;
}

.section-heading p {
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
    color: #656565;
    line-height: 1.5;
}

.section-heading {
    width: 53%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.more-items {
    overflow: hidden;
}

.more-item {
    width: 23%;
    float: left;
    margin-right: 24px;
}

.more-item:last-child {
    margin-right: 0;
}

.more-item-text h4 {
    font-size: 20px;
    padding-top: 20px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    line-height: 1.4;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.more-item-text p {
    padding-top: 9px;
    margin-bottom: 0px;
    color: #656565;
    font-size: 16px;
    line-height: 1.5;
}

/* ....................More From Us Section styel End here...................... */
/* ....................Price Section styel Start here...................... */

section#price {
    padding: 80px 0px;
}

.price-item-head h5 {
    font-size: 26px;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
}

.price-items {
    overflow: hidden;
}

.price-item {
    width: 31%;
    float: left;
    border: 1px solid #eee;
    margin-right: 32px;
    background: #ffffff;
    padding: 30px;
    border-radius: 5px;
}

.price-item:last-child {
    margin-right: 0;
}

.price-item-head p {
    font-size: 50px;
    font-weight: bold;
    display: inline;
    line-height: 1.5;
}

.price-item-head span {
    font-size: 20px;
    font-weight: 700;
}

.price-item-list ul li {
    margin-bottom: 20px;
    color: #57647c;
    list-style-type: none;
}

.price-item-list {
    margin-bottom: 30px;
}

.price-item-list ul li i {
    color: #ff5200;
    float: left;
}

.price-item-list ul li p {
    padding-left: 25px;
    display: block;
}

/* ....................Price Section styel End here...................... */
/* ....................Check Out Section styel Start here...................... */

.check-img {
    width: 50%;
    float: left;
}

.check-black {
    width: 50%;
    float: right;
    background: #222;
    padding: 30px;
}

.check-heading h2 {
    color: #fff;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
}

.check-heading p {
    color: #fff;
    line-height: 27px;
    font-size: 16px;
}

.check-items {
    overflow: hidden;
}

.check-item {
    width: 100%;
    margin-top: 45px;
    overflow: hidden;
    transition: all 300ms ease;
}

.check-item:hover h4 {
    color: #ff5200;
}

.check-item-img {
    color: #ff5200;
    font-size: 48px;
    font-weight: 400;
    line-height: 1em;
    float: left;
}

.check-item-text h4 {
    font-size: 18px;
    color: #fff;
    margin-bottom: 8px;
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
}

.check-item-text p {
    color: #ddd;
    font-size: 16px;
    line-height: 1.5;


}

.check-item-text {
    margin-left: 25px;
    float: left;
}

.check-item:last-child {
    margin-bottom: 45px;
}

.check-img img {
    height: 650px;
}

.check-item-text a {
    text-decoration: none;
    color: inherit;
}

/* ....................Check Out Section styel End here...................... */
/* ....................Teams Section styel Start here...................... */

#team-section{
    padding: 80px 0px;
}

.teems {
    overflow: hidden;
}

.teem {
    width: 22%;
    float: left;
    margin-right: 37px;
    border: 1px solid #eee;
}

.teem:last-child {
    margin-right: 0;
}

.teem-text {
    padding: 20px 0px;
    text-align: center;
}

.teem-text h4 {
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 5px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
}

.teem-text p {
    font-size: 13px;
    color: #656565;
    line-height: 1.5;
}

.teems {
    overflow: hidden;
}

.teem {
    width: 22%;
    float: left;
    margin-right: 37px;
    border: 1px solid #eee;
}

.teem:last-child {
    margin-right: 0;
}

.teem-text {
    padding: 20px 0px;
    text-align: center;
}

.teem-text h4 {
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 5px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
}

.teem-text p {
    font-size: 13px;
    color: #656565;
    line-height: 1.5;
}

.black-btn {
    text-align: center;
    padding-top: 45px;
}

.black-btn button {
    background: black;
    border: 2px solid black;
}

.black-btn button:hover {
    background: #ff5200;
    border: 2px solid #ff5200;
}

.social {
    position: absolute;
    bottom: 50px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.teem-img {
    position: relative;
}

.social a i {
    width: 30px;
    height: 30px;
    font-size: 12px;
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease 0s;
}

i.facebook{
    background: #3b5998;
    padding: 8px;
    color: #fff;
    border-radius: 50%;
}

i.twitter {
    background: #00acee;
    padding: 8px;
    color: white;
    border-radius: 50%;
}

i.google-plus {
    background: #ff5200;
    padding: 8px;
    color: aliceblue;
    border-radius: 50%;
}

i.linkedin {
    background: #0e76a8;
    padding: 9px;
    color: #fff;
    border-radius: 50%;
}

.social a i:hover {
    background: #fff;
    color: #252525;
}

.teem:hover .social a i:first-child{
    transform: translateY(20px);
    opacity: 1;
}

/* ....................Teams Section styel End here...................... */
/* ....................Our Best Projects Section styel Start here...................... */

section#best-project {
    background: #f6f5f5;
    padding: 80px 0px;
}

.projects {
    overflow: hidden;
}

.project {
    width: 31%;
    float: left;
    margin-right: 32px;
    margin-bottom: 30px;
}

.project:last-child {
    margin-right: 0;
}

.project:nth-child(3) {
    margin-right: 0;
}

.project-text h4 {
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 5px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    padding: 10px 0px;
    margin-bottom: 10px;
}

.learn-more{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.learn-btn{
    transform: translateX(-150px);
    visibility: hidden;
}


.project-text span {
    font-weight: 700;
    text-decoration: underline;
    font-size: 14px;
    line-height: 1.2;
}

.project-text {
    position: absolute;
    bottom: 4px;
    left: 0;
    padding-left: 32px;
    color: #fff !important;
    background-image: linear-gradient(to top, #000, transparent);
    padding-bottom: 10px;
    transition: 0.3s;
}

.project {
    position: relative;
    overflow: hidden;
}

.project:hover .project-text {
    padding-bottom: 50px;
}

.project:hover .learn-btn {
    transform: translateX(0);
    visibility: visible;
    transition: 0.3s;
    transition-delay: 0.3s;
    transition-timing-function: cubic-bezier(0.42, 0, 0, 1.28);
}

/* ....................Our Best Projects Section styel End here...................... */
/* ....................Latest News Section styel Start here...................... */

section#latest-news{
    padding: 80px 0px;
}

.latest-boxs {
    overflow: hidden;
}

.latest-box {
    width: 31%;
    float: left;
    margin-right: 32px;
    border: 1px solid #e7e7e7;
}

.latest-box:last-child {
    margin-right: 0;
}

.l-box-text h4 {
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 12px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    line-height: 1.4;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.l-box-text p {
    padding-top: 9px;
    margin-bottom: 0px;
    color: #656565;
    font-size: 16px;
    line-height: 1.5;
}

.l-box-text h4 a {
    text-decoration: none;
    color: #333333;
}

.l-box-text h4 a:hover {
    color: #ff5200
}

.l-box-text {
    padding: 25px;
}

.l-box-text p {
    margin-bottom: 15px;
}

.l-box-text span::after{
    content: "";
    background: #ff5200;
    width: 15px;
    height: 2px;
    position: absolute;
    left: 87px;
    bottom: 7px;
}

.l-box-text span {
    color: #777;
    float: left;
    font-size: 0.86667rem;
    position: relative;
    padding-right: 37px;
}
.comment{
    float: left;
    font-size: 0.86667rem;
    text-decoration: none;
    color: inherit;
}
.comment:hover{
    color: #ff5200;
}

.latest-box-img img {
    transition: all .4s ease;
}

.latest-box:hover .latest-box-img img {
    transform: scale(1.05);
}

/* ....................Latest News Section styel End here...................... */
/* ....................Subscribe Section styel Start here...................... */
section#subscribe {
    position: relative;
    margin-bottom: -70px;
}

.sub-items {
    overflow: hidden;
    background: #ff5200;
    border-radius: 5px;
}

.sub-item {
    width: 33%;
    float: left;
    padding: 30px 40px;
    overflow: hidden;
}

.sub-item:first-child {
    position: relative;
}

.sub-item h4 {
    font-size: 22px;
    padding-bottom: 25px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    line-height: 1.4;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #fff;
}

.sub-item span {
    color: #fff;
    line-height: 1.5;
}

.sub-item i {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    padding: 10px;
    float: left;
    margin-right: 10px;
}

.sub-item i:last-child {
    margin-right: 0px;
}

.sub-item i:hover {
    background: #fff;
    color: #000;
}

.sub-item input {
    padding: 14px 0px;
    padding-right: 60px;
    padding-left: 20px;
    width: 100%;
    border: none;
    font-size: 15px;
    border-radius: 25px;
}

button.submit {
    position: absolute;
    top: 85px;
    bottom: 30px;
    right: 40px;
    background: #000;
    padding: 0px 28px;
    border: 0px;
    color: #fff;
    border-radius: 100px;
    font-size: 16px;
}

button.submit:hover {
    cursor: pointer;
}

/* ....................Subscribe Section styel End here...................... */
/* ....................Footer Section styel Start here...................... */

section#footer {
    background: #1a1a1a;
    color: #fff;
    padding-top: 150px;
    padding-bottom: 40px;
}

.footer-items {
    overflow: hidden;
}

.footer-item {
    width: 25%;
    float: left;
    padding-right: 25px;
}

.footer-item:last-child {
    padding-right: 0px;
}

.footer-item h4 {
    font-size: 22px;
    padding-bottom: 25px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    line-height: 1.4;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #fff;
}


.footer-item p {
    padding-top: 9px;
    margin-bottom: 0px;
    color: #ababab;
    font-size: 15px;
    line-height: 1.5;
}

.footer-icons i {
    width: 35px;
    height: 37px;
    color: #ababab;
    border: none;
    text-align: left;
    float: left;
    font-size: 15px;
    transition: all 0.3s ease-in;
}

.footer-icons {
    margin-top: 20px;
}

.footer-icons i:hover {
    color: #ff5200;
}

ul.contact-ul li {
    list-style-type: none;
    color: #ababab;
    padding-bottom: 75px;
}

ul.contact-ul i {
    color: #ff5200;
    float: left;
    width: 30px;
}

ul.contact-ul p {
    float: left;
    width: 85%;
    padding-top: 0px;
    font-size: 15px;
}

ul.use-link-ul li a {
    text-decoration: none;
    color: #ababab;
    font-size: 15px;
    transition: all 0.3s ease-in;
}

ul.use-link-ul li {
    list-style-type: none;
    padding: 10px 0px;
    border-bottom: 1px dashed rgb(74 74 74 / 50%);
}

ul.use-link-ul li a:hover {
    color: #ff5200;
}

.posts {
    overflow: hidden;
}

.post {
    width: 100%;
    float: left;
    margin-bottom: 30px
}

.post-date {
    background: rgb(255 255 255 / 10%);
    width: 50px;
    float: left;
    border-radius: 3px;
    padding-bottom: 3px;
    text-align: center;
}

.post-date h4 {
    font-size: 22px;
    padding-bottom: 0px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    line-height: 1.4;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
}

.post-date span {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    color: #fff;
}

.post-text {
    float: left;
    width: 70%;
    margin-left: 18px;
}

.post-text h5 {
    font-size: 15px;
    color: #ababab;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    font-family: 'Oswald', sans-serif;
    padding: 3px 0px;
}

.post-text h5 a {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease-in;
}

.post-text h5 a:hover {
    color: #ff5200;
}

.post-text h5 a {
    text-decoration: none;
    color: inherit;
}

.post-text h5 a:hover {
    color: #ff5200;
}

.post-text span {
    font-weight: normal;
    font-size: 12px;
    color: #7b7b7b;
}

footer {
    border-top: 1px solid rgb(255 255 255 / 10%);
    background: #1a1a1a;
}

.copyrigh {
    font-size: 15px;
    color: #ababab;
    float: left;
    padding: 30px 0px;
}

.footer-menu {
    float: right;
    width: 28%;
}

.footer-menu ul li {
    list-style-type: none;
}

.footer-menu ul li a {
    text-decoration: none;
    font-size: 15px;
    color: #ababab;
    margin-left: 15px;
    padding: 30px 0px;
    float: left;
}

/* ....................Footer Section styel End here...................... */
/* ....................Back to Top Button styel Start here...................... */

button.back-btn {
    background: #222;
    color: #fff;
    border: 0;
    border-radius: 3px;
    font-size: 16px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 1px 5px rgb(68 73 83 / 20%);
    -webkit-transition: all ease .238s;
    -moz-transition: all ease .238s;
    transition: all ease .238s;
}

button.back-btn:hover {
    background: #ff5200;
}

/* ....................Back to Top Button styel End here...................... */